{% assign book = include.book %}
<div class="card">
  <div class="card-image has-text-centered frame">
    <img src="{{ site.baseurl }}{{ book.path }}" alt="">
  </div>
  <div class="card-content">
    <div class="content">
      <p class='title' color="red"> {{ book.title }} </p>
      <h2 background-color="gray">เนื้อหาโดยสังเขป</h2>
      <p>{{ book.detail }}</p>
      {% if book.extra %}
      <h2 background-color="gray">ข้อมูลเพิ่มเติม</h2>
      {{ book.extra }}
      {% endif %}
    </div>
  </div>
</div>
