{% assign book = include.book %}
<div class="card">
  <div class="card-image has-text-centered">
    <img src="{{ site.baseurl }}{{ book.path }}" alt="">
  </div>
  <div class="card-content">
    <div class="content">
      <h2 class='title' style="color:rgb(255, 0, 0)"> {{ book.title }} </h2>
      <h3 class="HighlightText-ColorGray">เนื้อหาโดยสังเขป</h3>
      <p>&emsp;{{ book.detail }}</p>
      {% if book.extra %}
      <h3 class="HighlightText-ColorGray">ข้อมูลเพิ่มเติม</h3>
      <p>&emsp;{{ book.extra }}</p>
      {% endif %}
    </div>
  </div>
</div>
