@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #634583 !default; //Theme Color
$background: #BB82CF !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

body h1 {
  font-family: 'Charmonman', 'Montserrat', sans-serif !default;
}

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "../node_modules/bulma-block-list/src/block-list.scss";

body {
  color: #363636;
}

.gh-sponsor {
  color: #ea4aaa;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: rgba(0,0,0,0.6);
}

.hero.is-primary .title {
  color: #e1b93c;
  background: -webkit-linear-gradient(#e1b93c, #fdf79d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.9));
}


.frame img {
  border: solid 1px;
  border-bottom-color: #7a7a7a;
  border-left-color: #4a4a4a;
  border-right-color: #4a4a4a;
  border-top-color: #7a7a7a;
  max-height: 100%;
  max-width: 100%;
  display: block;
}

.frame {
  background-color:#363636;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  padding:6vmin;
  position:relative;
  text-align:center;
  margin: -15px;
}
.frame::before {
  border-radius:2px;
  bottom:-2vmin;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
  content:"";
  left:-2vmin;
  position:absolute;
  right:-2vmin;
  top:-2vmin;
}
.frame::after {
  border-radius:2px;
  bottom:-2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  content:"";
  left:-2.5vmin;
  position:absolute;
  right:-2.5vmin;
  top:-2.5vmin;
}

html {
  background-color: #BB82CF;
}

.hero-body p img, .frame {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
    transform: translateY(-20px);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translateY(-20px);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translateY(-20px);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translateY(-20px);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translateY(-20px);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

.HighlightText-ColorGray {
  background-color: rgb(150, 150, 150);
}
